body {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-family: "Manrope", sans-serif;
  line-height: 1.2;
  justify-content: center;
  /* text-align: center; */
}

.pic {
  display: flex;
  justify-content: center;
}

.ava {
  width: 250px;
  border-radius: 50%;
  margin-top: 20px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
  text-align: center;
}

h2 {
  margin-top: 0px;
  padding-bottom: 30px;
  font-size: 25px;
  text-align: center;
  border-bottom: 2px solid #e3e3e3;
}

main {
  width: 900px;
  margin: auto;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

section h2 {
  padding: 0;
  text-align: center;
  border: 0;
}

ul li {
  margin-bottom: 10px;
}

li p {
  width: 100%;
  font-size: medium;
}

.english {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.certificate {
  font-weight: 600;
}

.cambridge {
  width: 200px;
  margin-top: 20px;
}

.contacts {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  height: 50px;
}

.hh {
  height: 40px;
  margin: 5px;
  margin-left: 15px;
}

.links {
  text-align: center;
}

.git {
  height: 80px;
  margin-left: 30px;
}

.gitlab {
  height: 50px;
  padding-bottom: 15px;
  margin-left: 30px;
}

.leetcode {
  height: 40px;
  padding-bottom: 22px;
}
